@import '../../styles/variables.scss';

.users__btn {
  margin-top: 1rem;
}

.users__items {
  margin-top: 1rem;
  @include flex(column, flex-start, flex-start);
  row-gap: 1rem;

  li {
    width: 100%;
  }
}
