@import '../../styles/variables.scss';
.published {
  &__items {
    @include flex(column, flex-start, flex-start);
    row-gap: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  li {
    width: 100%;
  }
}
